In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
dfprodutos = pd.read_csv(r"..\dados\produtos.csv")
dfprodutos

       Produto   Categoria  Preço  Quantidade  Data_Venda
0       Camisa      Roupas   50.0          10  2023-01-01
1        Calça      Roupas  100.0          15  2023-01-02
2         Saia      Roupas   80.0          20  2023-01-03
3     Camiseta      Roupas   45.0          30  2023-01-04
4      Jaqueta      Roupas  120.0           5  2023-01-05
5      Vestido      Roupas   90.0          12  2023-01-06
6      Bermuda      Roupas   60.0          18  2023-01-07
7       Sapato    Calçados  150.0           7  2023-01-08
8     Sandália    Calçados   70.0          25  2023-01-09
9        Tênis    Calçados  200.0           8  2023-01-10
10       Botas    Calçados  180.0           6  2023-01-11
11     Mochila  Acessórios   70.0          15  2023-01-12
12       Cinto  Acessórios   40.0          22  2023-01-13
13      Óculos  Acessórios  120.0          10  2023-01-14
14     Relógio  Acessórios  250.0           4  2023-01-15
15      Brinco  Acessórios   35.0          30  2023-01-16
16       Blusa      Roupas   55.0          14  2023-01-17
17      Shorts      Roupas   65.0          19  2023-01-18
18      Suéter      Roupas   95.0           9  2023-01-19
19  Saia longa      Roupas   75.0          11  2023-01-20

In [20]:
dfprodutos.describe() #Descrição estatística
dfprodutos.info() #Descrição Geral
dfprodutos.shape #Corpo do df (linhas, colunas)
dfprodutos.ndim #Número de dimensões
dfprodutos.dtypes #Tipos de cada coluna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Produto     20 non-null     object
 1   Categoria   20 non-null     object
 2   Preço       20 non-null     float64
 3   Quantidade  20 non-null     int64
 4   Data_Venda  20 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 932.0+ bytes

Produto        object
Categoria      object
Preço         float64
Quantidade      int64
Data_Venda     object
dtype: object

In [24]:
dfprodutos['Quantidade'] = pd.to_numeric(dfprodutos['Quantidade'])  #convertendo a coluna quantidade para uma do tipo numeric 
dfprodutos['Preço'] =  pd.to_numeric(dfprodutos['Preço']) #convertendo a coluna preço para uma do tipo numeric
dfprodutos.dtypes

Produto        object
Categoria      object
Preço         float64
Quantidade      int64
Data_Venda     object
dtype: object

In [31]:
#1-Desempenho de vandas por categorias

#Sempre crie um sub df para preservar o original

vendascategorigas =  dfprodutos.groupby('Categoria')['Quantidade'].sum()
vendascategorigas

Categoria
Acessórios     81
Calçados       46
Roupas        163
Name: Quantidade, dtype: int64

In [41]:
#2-produto mais Vendido

produtoMaisVendido = dfprodutos.groupby('Produto')['Quantidade'].sum().idxmax()#Ele considera o idmax como o registro pelo qual ele e agrupado
produtoMaisVendido

'Brinco'

In [42]:
#3-Preço médio de cada produto

mediaPrecoProduto = dfprodutos.groupby('Produto')['Preço'].mean().reset_index()
mediaPrecoProduto

       Produto  Preço
0      Bermuda   60.0
1        Blusa   55.0
2        Botas  180.0
3       Brinco   35.0
4        Calça  100.0
5       Camisa   50.0
6     Camiseta   45.0
7        Cinto   40.0
8      Jaqueta  120.0
9      Mochila   70.0
10     Relógio  250.0
11        Saia   80.0
12  Saia longa   75.0
13    Sandália   70.0
14      Sapato  150.0
15      Shorts   65.0
16      Suéter   95.0
17       Tênis  200.0
18     Vestido   90.0
19      Óculos  120.0

In [ ]:
#4-Corrlação entre qtd de unidades e preço unitário

correlacao =  dfprodutos['Quantidade'].corr(dfprodutos['Preço']) #Avaliando correlação preço/quantidade
correlacao

np.float64(-0.7228821786680254)

In [58]:
#5-Exportando desempenho de vendas por categorias para um csv

desVendasCategorigas = vendascategorigas.reset_index()
desVendasCategorigas.to_csv("../dados/vendas_categoria.csv", index=False)